<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>メニュー</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/dashboard_style.css">
  <link rel="stylesheet" href="/css/success.css">
</head>

<body>
 <div class="advertisement-info_left"></div>
  <div class="container">
    <div class="content" id="dashboard-content">
      <!-- Dashboard content goes here -->
      <h1>メニューを選択してください。</h1>
    <div class="menu">
      <a href="#" class="menu-item" data-page="withdraw">お引き出し</a>
      <a href="#" class="menu-item" data-page="deposit">預金入れ</a>
      <a href="#" class="menu-item" data-page="transfer">お振込み</a>
      <a href="/api/transactions/history" class="menu-item_history">履歴表示</a>
      <a href="/user/logout" class="menu-item_history logout">ログアウト</a>
    </div>
    </div>
    
    
    <div class="content" id="withdraw-content" style="display: none;">
      <!-- Deposit content goes here -->
      <h2>お引き出ししてください</h2>
      <div class="form">
        <form id="depositForm" action="/api/accounts/withdraw" method="post">
          <div class="inputBox">
            <input type="text" id="amount" name="amount" placeholder="お引き出し" required>
          </div>
          <div class="inputBox">
            <input type="submit" value="お引き出し">
          </div>
        </form>
        <div class="return_btn">
          <a href="/user/dashboard">TOPへ戻り</a>
        </div>
      </div>
    </div>
    
    <div class="content" id="deposit-content" style="display: none;">
      <!-- Withdraw content goes here -->
      <h2>預金入れ情報入力してください</h2>
      <div class="form">
        <form id="withdrawForm" action="/api/accounts/deposit" method="post">
          <div class="inputBox">
            <input type="text" id="amount" name="amount" placeholder="金額" required>
          </div>
          <div class="inputBox">
            <input type="submit" value="預金入れ">
          </div>
        </form>
        <div class="return_btn">
          <a href="/user/dashboard">TOPへ戻り</a>
        </div>
      </div>
    </div>
    
    <div class="content" id="transfer-content" style="display: none;">
    <h2>情報入力してください</h2>
    <div class="form">
    <form action="/api/accounts/transfer" method="post">
        <div class="inputBox">
          <input type="text" id="accountNumber" name="accountNumber" placeholder="口座番号入力" required>
        </div>
        <div class="inputBox">
          <input type="text" id="amount" name="amount" placeholder="金額" required>
        </div>
        <div class="inputBox">
          <input type="submit" value="お振込">
        </div>
      </form>
      <div class="return_btn">
        <a href="/user/dashboard">TOPへ戻り</a>
      </div>
    </div>
   </div>	
    <p class="footer">Remember to keep your information safe and secure.</p>
  </div>
  
  
	<div class="advertisement-info_right">
 	<p id="advertisement-data"></p>
	</div>
  <script src="/js/script.js"></script>
  <script src="/js/news_api.js"></script>
</body>

</html>
