<html lang="en"> 

 <head> 

  <meta charset="UTF-8"> 

  <title>ATM</title> 
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/success.css">

 </head> 

 <body> <!-- partial:index.partial.html --> 
 <div class="advertisement-info_left">
 	<p id="advertisement-data"></p>
	</div>
  <div class="container">
   <h1>情報入力してください</h1> 
    <div class="form">
      
     <form method="post" action="/user/login">
        <div class="inputBox"> 

       <input type="text" name="name" placeholder="ユーザー名" required/> 

      </div> 
        <div class="inputBox"> 

       <input type="password" name="password" placeholder="パスワード" required/>

      </div> 
       <div class="inputBox"> 

       <input type="submit" value="ログイン"> 

      </div> 
      </form>
    </div>
    <p class="footer">Remember to keep your information safe and secure.</p>
  </div>
 <div class="advertisement-info_right">
 	<p id="advertisement-data"></p>
	</div>
</body>

</html>